MONGO_URI=mongodb://admin:example@mongo:27017/stock_db?authSource=admin
PORT=3001

KAFKA_BROKER=my_kafka_container:9092
KAFKA_CLIENT_ID=inventory-tracking-service
KAFKA_CONSUMER_GROUP_ID=inventory-tracking-group